<!doctype html>
<html lang="en">
  <nav id="main-navbar" class="p-1 relative min-w-full">
    <div
      class="container mx-auto flex justify-between items-center px-4 border-blue-500"
    >
      <a href="../viewProfile/index.html" class="flex items-center">
        <img
          src="../img/logo.png"
          alt="logo"
          class="h-24 w-24 sm:h-32 sm:w-32 p-4 hover:scale-110 transition-transform duration-300"
        />
      </a>
      <button id="menu-toggle" class="text-2xl text-white md:hidden">☰</button>
      <ul
        id="menu"
        class="hidden md:flex text-md text-gray-700 space-x-6 sticky top-0"
      >
        <li>
          <a
            href="../profile/index.html"
            class="relative text-white font-medium after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-gradient-to-r after:from-green-500 after:to-green-200 after:transition-all after:duration-300 hover:after:w-full"
            id="profile-link"
          >
            Profile
          </a>
        </li>
        <li>
          <a
            href="../feed/index.html"
            class="relative text-white font-medium after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-gradient-to-r after:from-green-500 after:to-green-200 after:transition-all after:duration-300 hover:after:w-full"
            id="feed-link"
          >
            Feed
          </a>
        </li>
        <li id="auth-link">
          <a
            href="../index.html"
            class="relative text-white font-medium after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-gradient-to-r after:from-green-500 after:to-green-200 after:transition-all after:duration-300 hover:after:w-full"
            id="auth-link-text"
          >
            Log in
          </a>
        </li>
        <li>
          <a
            href="../register/index.html"
            class="relative text-white font-medium after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-gradient-to-r after:from-green-500 after:to-green-200 after:transition-all after:duration-300 hover:after:w-full"
            id="register-link"
          >
            Register
          </a>
        </li>
      </ul>
    </div>

    <!-- Mobilmeny -->
    <ul
      id="mobile-menu"
      class="max-h-0 overflow-hidden opacity-0 sticky top-0 z-50 w-full flex-col text-white text-center space-y-4 p-4 pb-8 md:hidden transition-all duration-300 ease-in-out"
    >
      <li>
        <a
          href="../profile/index.html"
          class="p-2 hover:bg-blue-200 active:underline flex justify-center flex-col"
          id="mobile-profile-link"
        >
          <i class="fa-solid fa-user text-xs text-white drop-shadow"></i>
          Profile
        </a>
      </li>
      <li>
        <a
          href="../feed/index.html"
          class="p-2 hover:bg-blue-200 flex justify-center flex-col"
          id="mobile-feed-link"
        >
          <i
            class="fa-solid fa-rss text-xs text-white drop-shadow no-underline"
          ></i>
          Feed
        </a>
      </li>
      <li>
        <a
          href="../index.html"
          class="p-2 hover:bg-blue-200 active:underline flex justify-center flex-col"
          id="mobile-auth-link"
        >
          <i
            class="fa-solid fa-right-from-bracket text-xs text-red-400 drop-shadow"
          ></i>
          Log Out
        </a>
      </li>
      <li>
        <a
          href="../register/index.html"
          class="p-2 hover:bg-blue-200 active:underline flex justify-center flex-col"
          id="mobile-register-link"
        >
          <i class="fa-solid fa-rss text-xs text-white drop-shadow"></i>
          Register
        </a>
      </li>
    </ul>
  </nav>
</html>
